<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table table-bordered table-striped">
	<tr>
		<th>Image</th>
		<th>Employee</th>
		<th>Actions</th>
	</tr>

	<%= render @users %>
	
</table>
