<% provide(:title, 'All Machines') %>
<h1>All Equipment</h1>

<table class="table table-bordered table-striped">
	<tr>
		<th>Image</th>
		<th>Make</th>
		<th>Model</th>
		<th>Year</th>
		<th>Serial</th>
		<th>Status</th>
		<th>View Details</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	<%= render @machines %>
	
</table>